# Git files
.git
.gitignore

# Documentation
README.md

# Docker files
Dockerfile
.dockerignore

# Development files
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

node_modules
npm-debug.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dist
out
.next